* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Roboto, serif;
}

#container {
    display: flex;
    flex-direction: column;
}


/*part1 header*/

#header {
    background-color: #000;
}

#header h1 {
    padding: 20px;
    font-size: 50px;
    font-weight: 700;
    color: #f9faf8;
}

#header p {
    padding: 20px;
    font-size: 20px;
    color: #e5e7eb;
}

a {
    color: #f00;
}

ul {
    display: flex;
    gap: 50px;
    list-style-type: none;
    padding-top: 50px;
    padding-right: 40px;
}

#logo {
    padding-left: 90px;
}

.cont {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 30px;
}

#top-middle {
    display: flex;
    align-items: center;
    padding: 20px;
    margin: 50px;
    text-align: left;
}

#top-middle .cont {
    display: flex;
    flex-direction: column;
}

button {
    font-family: impact;
    background-color: #303134;
    border: 2px solid #5f6368;
    border-radius: 5px;
    color: #e8eaed;
    font-size: 15px;
    margin: 10px 5px 10px 20px;
    padding: 5px 15px;
    text-align: center;
    width: 100px;
}


/*part2 information*/

#h1 {
    font-size: 50px;
    font-weight: 900;
    color: #f00;
    text-align: center;
    margin-top: 50px;
}

#section-one {
    display: flex;
    justify-content: center;
    padding: 80px;
    gap: 50px;
}

.pics {
    width: 500px;
}

.imgs {
    width: 350px;
    height: 300px;
    border: 5px solid #f00;
    border-radius: 10%;
}

.text {
    padding: 10px;
    text-align: left;
    font-size: 23px;
}


/*part3 information*/

#quote {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
    background: #000;
    font-size: 35px;
    color: #fff;
}

#p2 {
    padding: 20px;
    font-size: 30px;
}


/*part4 information*/

#footer {}

#box {}