* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Roboto, serif;
}

#container {
    display: flex;
    flex-direction: column;
}


/*part1 header*/

#header {
    background-color: #000;
    color: #fff;
}

#header h1 {
    padding: 20px;
    font-size: 45px;
    font-weight: 500;
    color: #f9faf8;
}

#header p {
    padding: 20px;
    font-size: 20px;
    color: #e5e7eb;
}

a {
    color: #f00;
}

ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

#logo {
    margin: 20px;
}

.cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 30px;
}

#top-middle {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

#top-middle .cont {
    display: flex;
    flex-direction: column;
    margin: 50px;
}

button {
    font-family: impact;
    background-color: #303134;
    border: 2px solid #5f6368;
    border-radius: 5px;
    color: #e8eaed;
    font-size: 15px;
    margin: 10px 5px;
    padding: 5px 15px;
    text-align: center;
}


/*part2 information*/

#h1 {}

#info {}

#section-one {}

.pics {}

.imgs {}

.text {}


/*part3 information*/

#quote {}

#p1 {}

#p2 {}


/*part4 information*/

#footer {}

#box {}